

.infoButtons {
    display: flex;
}

.infoButtons .case-switcher__item {
    width: 25%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
    line-height: 140%;
}
