.inputItem input[type="text"] {
    width: 100px;
    border-radius: 3px;
    border: none;
    height: 35px;
}

.inputItem input[type="submit"] {
    width: 60px;
    border-radius: 3px;
    border: none;
    height: 35px;
    margin-left: 5px;
}

.inputItem {
    margin-bottom: 20px;
}