.globalCasesCard {
    box-sizing: border-box;
    width: 100%;
    background: rgba(255,255,255,.2);
    border: solid 2px rgba(255,255,255,.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-height: 120px;
    text-align: center;

    font-weight: 100;
}

.globalCasesCard h2{
    font-size: 17px;
    font-weight: 200;
}

.card-cases {
    color: darkred;
    font-size: 25px;
    font-weight: 700;
}