body {
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgba(255,255,255,.7);
    background-color: black;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

.container {
    margin: 10px;
    height: calc(100vh - 90px);
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 1fr 25%;
    grid-template-rows: 95% 5%;
    grid-template-areas: 
    "global_cases map cases_and_diagram"
    "global_cases map_switch cases_and_diagram";
    grid-column-gap: 10px;
    box-sizing: border-box;
}

.global_cases_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    grid-area: global_cases;
}

.cases_and_diagram_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    box-sizing: border-box;
    grid-area: cases_and_diagram;
}

#mapid {
    width:49%;
    height: 89%;
    background: rgb(41, 41, 75);
    border: solid 2px rgba(255,255,255,.1);
    color: blue;
}