.table {
    text-decoration: none;
    overflow:auto;
    height: 450px;

}

.table ul {
        overflow:auto;
}

.list-group-item {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 2px solid rgba(41, 41, 41, 1);
}

.list-group-item:hover {
    background: rgba(41, 41, 41, 1);
}


.list-group-item span:nth-child(1) {
    color:red;
    padding-right: 5px;
    font-weight: 500;
}

.list-group-item span:nth-child(2) {
    padding-right: 5px;
    font-weight: 300;
}
