.globalCasesTable {
    box-sizing: border-box;
    width: 100%;
    background: rgba(255,255,255,.2);
    border: solid 2px rgba(255,255,255,.1);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    font-weight: 100;
}

.globalCasesTable h2{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 17px;
    font-weight: 200;
}

.globalCasesTable .table {
    height: 450px;
}

.case-switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.case-switcher__item {
    margin: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,.2);
    padding: 7px 7px 0 7px;
    border: 2px solid rgba(255,255,255,.1);
}

.case-switcher__item:hover {
    background: rgba(255,255,255,.4);
}